arch = 'x86_64'
name = "ubuntu_sandbox"
maxmem = 2048
memory = 2048
vcpus = 1
maxvcpus = 1
builder = "hvm"
boot = "c"
hap = 1
on_poweroff = "destroy"
on_reboot = "restart"
on_crash = "destroy"
vnc = 1
vnclisten = "127.0.0.1"
vga = "stdvga"
usb = 1
usbdevice = "tablet"
audio = 1
#soundhw = "hda"
viridian = 1
altp2m = 2
shadow_memory = 32
vif = [ 'type=ioemu,model=e1000,script=vif-openvswitch,bridge=xenbr1' ]
disk = [ 'phy:/dev/vg-root/ubuntu_sandbox,hda,w' ]
