arch = 'x86_64'
name = "ubuntu"
maxmem = 3000
memory = 3000
vcpus = 2
maxvcpus = 2
builder = "hvm"
boot = "c"
hap = 1
on_poweroff = "destroy"
on_reboot = "restart"
on_crash = "destroy"
vnc = 1
vnclisten = "127.0.0.1"
vga = "stdvga"
usb = 1
usbdevice = "tablet"
audio = 1
#soundhw = "hda"
viridian = 1
altp2m = 2
shadow_memory = 32
vif = [ 'type=ioemu,model=e1000,bridge=xenbr0' ]
disk = [ 'phy:/dev/vg-root/ubuntu,hda,w', 'file:/home/user/Documents/ubuntu-20.04.6-desktop-amd64.iso,hdc:cdrom,r' ]
